.add-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-property-subheading {
  font-size: 30px;
  font-weight: 50;
  color: rgb(0, 0, 0);
  margin-left: 90px;
}

.add-property-form {
  padding: 10px;
  margin-left: 10px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-property-form button {
  background-color: #fdfffc;
  margin-top: 10px;
  border: 2px outset #35524a;
  border-radius: 5px;
  padding: 0 25px;
}

.add-property-form-input {
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 5px;
  border-width: 1.5px;
  border-style: solid;
  box-sizing: content-box;
  height: 17px;
}

.add-property-form select {
  margin-top: 5px;
  margin-left: 20px;
  width: 145px;
  padding: 1px 2px;
  border-radius: 5px;
  border-width: 1.5px;
  border-style: solid;
  box-sizing: content-box;
}

.add-property-form label {
  flex: 1;
}
