.alert {
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  max-height: 1em;
}

.alert-success {
  background: rgba(53, 243, 53, 0.781);
}

.alert-error {
  background: #ff3333c8;
  margin-top: 20px;
  margin-right: 10px;
  text-align: center;
}
