.navbar {
  background-color: #35524a;
  border-width: 5px;
  border-color: #f4ac45;
  border-bottom-style: solid;
  display: flex;
  width: 100vw;
}

.navbar-logo {
  max-width: 200px;
  max-height: 80px;
  align-self: center;
  border-radius: 80px;
  padding: 0;
  margin-left: 10px;
}

.navbar-links {
  list-style-type: none;
  max-width: 600px;
}

.navbar-links-item {
  color: #fdfffc;
  margin: 0;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-family: "Urbanist";
  text-decoration: none;
}

.navbar-links-item:hover {
  font-size: 21px;
}
