.navbar {
  background-color: #35524a;
  border-width: 5px;
  border-color: #f4ac45;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  width: 100vw;
  font-family: "Urbanist";
}

.navbar-logo {
  max-width: 200px;
  max-height: 80px;
  border-radius: 80px;
  padding: 0;
  margin-left: 10px;
}

.navbar-links {
  list-style-type: none;
  max-width: 600px;
}

.navbar-links-item {
  color: #fdfffc;
  margin: 0;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
}

.navbar-links-item:hover {
  font-size: 21px;
}

.navbar-links-auth {
  color: #fdfffc;
  margin: 0;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
}

.navbar-signout {
  max-height: 2em;
  border-radius: 5px;
  background-color: #fdfffc;
  border: 2px outset #f4ac45;
  font-family: "Urbanist";
  font-size: 15px;
  box-shadow: 2px 2px rgb(64, 62, 62);
}

.navbar-signout:active {
  box-shadow: 1px 1px rgb(22, 22, 22);
  transform: translateY(2px);
}
